/* STYLES */

html, body {
	width:100%;
	height:100%;
	margin:0;
	font-family: 'Open Sans', sans-serif;
	background-color: #232323;
}
ul {
	padding:0;
}
li {
	list-style-type: none;
	margin-bottom: 10px;
	padding:0;
	height: 100%;
}
a { 
	font-size:17px;
	color:#005a97;
	text-decoration: none;
}
a:hover{
	color:#003e69;
}
.inner-wrap{
	background:url('img/old_moon.png') repeat;
}
.info-wrap {
	margin-top: 68px;
}
.md {
	display: none;
}

.main {
	width:100%;
	height:65px;
	position:fixed;
	margin-top:-15px !important;
	background-color:#333;
	border-bottom:1px solid #222;
	-moz-box-shadow:    2px 2px 1px 1px #666;
  	-webkit-box-shadow: 2px 2px 1px 1px #666;
  	box-shadow: 2px 2px 1px 1px #666;

}

.main h2 a {
	color: white;
	font-size: 24px;
	text-decoration: none;
	margin-top: 114px;
	position: absolute;
	top:-89px;
	left: 10px;
	width:240px;
	font-family: 'Roboto', sans-serif;
  	font-weight: 100;
}

.main a {
	font-family: 'Roboto', sans-serif;
  	font-weight: 100;
  	font-size: 22px;

}

.right-off-canvas-toggle{
	color:white;
	float:right;
	margin:20px 10px 0 0;
	font-weight: 100;
  	font-style: normal;
}
.right-off-canvas-toggle:hover{
	color:#e2e2e2;
}
.right-off-canvas-menu{
	min-height: 900px;
	overflow: hidden;

}

.off-canvas-list li a {
  	font-style: normal;
  	font-size: 24px;
  	font-family: 'Roboto', sans-serif;
  	font-weight: 100;}

 /*@-moz-document url-prefix() { 
	.off-canvas-list li a {
  		font-weight: normal;}
	}
 }*/
.off-canvas-list li:nth-of-type(1){
	margin:12.5px 0;
}
input[type="search"]{
	height: 18px;
	width: 92%;
	margin: 40px auto -20px auto;
	padding:4px;
	display: block;
	font-size: 17px;
	text-align: left;
	border:1px solid #333;
	border-radius: 6px;
}

#searchSub{
	margin-left:-2000px;
}
.post {
	list-style-type: none;
	width:98%;
	margin:12px auto 22px auto;
	display: block;
	padding:0;
}

.post li:nth-of-type(1){
	margin: 0 0 -15px 85px;
}

.post li:nth-of-type(2){
	margin:7px 0 0 0;
}

.post li:nth-of-type(2) img{
	margin:-10px 0 20px 0;
}
.post li:nth-of-type(3){
	margin: -65px 0 0 85px;
}

.post td:first-child img{
	margin:-20px 0 0 0;
}

.post td:nth-of-type(2){
	margin: 0 0 0 5px;
	padding-left: 9px;
}
 
#morePosts {
	margin:15px auto;
	display: block;
	text-align: center;
}

.images {
	padding:0;
	margin:80px auto 20px auto;
	display: block;
	max-width:500px;
	min-width:350px;
	background-image:url('img/old_moon.png');
	background-repeat: repeat-y;
	background-color: transparent;

}
.images li {
	text-align: center;
}
.imgur-gal li {
	display:none;
}
.imgur-gal li:first-child{
	display:block !important;
}
.thumbnail {
	width:350px;
	height:auto;
	margin:15px auto;
	display: block;
}

.nextPage {
	margin:20px auto;
	display: block;
	text-align: center;
}

/* Media Queries */
@media screen and (max-width:767px){
.main h2 a {
	right:0;
	left:8px;
}
@media screen and (max-width:480px){
	.images li {
		margin: 5px 0 5px -5px;
		padding:0;
	}
}